/* Welcome.css */
.custom-arrow {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1000; /* Certifique-se de que o z-index seja alto */
    position: absolute; /* Necessário para o posicionamento correto */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Assegura que o contêiner principal posicione as setas corretamente */
.welcome {
    position: relative;
}

.carousel {
    height: 620px;
}

.legend {
    background-color: transparent !important;
}

.custom-prev {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
}

.custom-next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
}

