/* Welcome.css */
.custom-arrow {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1000; /* Certifique-se de que o z-index seja alto */
    position: absolute; /* Necessário para o posicionamento correto */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Assegura que o contêiner principal posicione as setas corretamente */
.welcome {
    position: relative;
}

.carousel {
    height: 750px;
}

.legend {
    background-color: transparent !important;
}

.custom-prev {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
}

.custom-next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
}

.introduction {
    background-color: #fca311;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 500px;
    background: 
        radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.999) 2%, transparent 5%) 0 0 / 40px 50px;
    pointer-events: none; /* Garante que o pseudo-elemento não interfira na interação do usuário */
    z-index: 0;
}

body {
    background-color: #fca311;
}

.card {
    width: 300px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #14213D;
    margin: 40px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-content {
    padding: 10px;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: white;
}

.card-text {
    font-size: 0.9em;
    color: white;
    margin-bottom: 16px;
}

.card-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #fca311;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}